footer{
    background-color: var(--color-granite);
    color: var(--color-foam);
    height: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    align-self: centre;
    margin: 1vw
}