#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
    /* Used for texts (+ footer background) */
    --color-granite: #252629;
    /* Used for backgrounds (+ footer text color) */
    --color-foam: #ffffff;
    /* Used for buttons, icons, etc. */
    --color-nemo: #ff4a11;
    /* active color for buttons, icons, etc. */
    --color-nemo-mid: #ff5c29;
    /* hover color for buttons, icons, etc. */
    --color-nemo-dark: #e5430f;
    /* Used for borders and some backgrounds */
    --color-water-10: #e4e8f0;
  }

body{
  display:flex;
  align-items: center;
  color: var(--color-granite);
  position: relative;
  /* padding: 2rem; */
}
  .journal-app-header{
    width:100vw;
    background-color: var(--color-foam);
    text-align: center;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}